<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
	        <ol class="breadcrumb">
	        	<li><a href="#">Категории</a></li>
	        	<li class="active">Удаленные</li>
	        </ol>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Родитель</th>
                    <th>Название категории</th>
                    <th>Унифицированное название категории</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
            {foreach $list as $category}
                <tr>
                    <td>{$category->id}</td>
                    <td>{$category->parent->name}</td>
                    <td>{{$category->name}|i18n}</td>
                    <td>{$category->name}</td>
                    <td>
                        <a class="btn btn-info btn-xs" href="/admin/catalog/deleted?undelete={$category->id}"><i class="fa fa-reply fa-fw"></i> Отменить удаление</a>
                    </td>
                </tr>
            {foreachelse}
            	<tr>
            	 <td colspan="6">There is no categories</td>
            	</tr>
            {/foreach}
            </tbody>
        </table>
    </div>
</div>