<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
	        <ol class="breadcrumb">
	        	<li><a href="#">Категории</a></li>
	        	<li class="active">Список</li>
	        </ol>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Название категории</th>
                    <th>Родитель</th>
                    <th>Унифицированное название категории</th>
                    <th>Состояние</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
            {foreach $list as $category}
                <tr>
                    <td>{$category->id}</td>
                    <td>{{$category->name}|i18n}</td>
                    <td>{$category->parent->name}</td>
                    <td>{$category->name}</td>
                    <td>{($category->disabled == 1) ? {'disabled'|i18n} : {'enabled'|i18n}}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="">
                            <a class="btn btn-warning btn-xs" href="/admin/catalog/edit?id={$category->id}"><i class="fa fa-pencil fa-fw"></i> Изменить</a>
                            <a class="btn btn-info btn-xs" href="/admin/catalog/list?disable={$category->id}&state={$category->disabled}">{($category->disabled == 1) ? "<i class='fa fa-toggle-off fa-fw'></i> {'enable'|i18n}" : "<i class='fa fa-toggle-on fa-fw'></i> {'disable'|i18n}"} </a>
                            <a class="btn btn-danger btn-xs" href="/admin/catalog/list?delete={$category->id}"><i class="fa fa-trash fa-fw"></i> Удалить</a>
                        </div>
                    </td>
                </tr>
            {foreachelse}
            	<tr>
            	 <td colspan="6">There is no categories</td>
            	</tr>
            {/foreach}
            </tbody>
        </table>
    </div>
</div>