<div class="footer-top">
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<div class="companyinfo">
					<h2><span>BIT</span>Market</h2>
					<p>Виртуальный каталог</p>
				</div>
			</div>
			<!--<div class="col-sm-7">
				<div class="col-sm-3">
					<div class="video-gallery text-center">
						<a href="#">
							<div class="iframe-img">
								<img src="images/home/iframe1.png" alt="" />
							</div>
							<div class="overlay-icon">
								<i class="fa fa-play-circle-o"></i>
							</div>
						</a>
						<p>Circle of Hands</p>
						<h2>24 DEC 2014</h2>
					</div>
				</div>
				
				<div class="col-sm-3">
					<div class="video-gallery text-center">
						<a href="#">
							<div class="iframe-img">
								<img src="images/home/iframe2.png" alt="" />
							</div>
							<div class="overlay-icon">
								<i class="fa fa-play-circle-o"></i>
							</div>
						</a>
						<p>Circle of Hands</p>
						<h2>24 DEC 2014</h2>
					</div>
				</div>
				
				<div class="col-sm-3">
					<div class="video-gallery text-center">
						<a href="#">
							<div class="iframe-img">
								<img src="images/home/iframe3.png" alt="" />
							</div>
							<div class="overlay-icon">
								<i class="fa fa-play-circle-o"></i>
							</div>
						</a>
						<p>Circle of Hands</p>
						<h2>24 DEC 2014</h2>
					</div>
				</div>
				
				<div class="col-sm-3">
					<div class="video-gallery text-center">
						<a href="#">
							<div class="iframe-img">
								<img src="images/home/iframe4.png" alt="" />
							</div>
							<div class="overlay-icon">
								<i class="fa fa-play-circle-o"></i>
							</div>
						</a>
						<p>Circle of Hands</p>
						<h2>24 DEC 2014</h2>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="address">
					<img src="images/home/map.png" alt="" />
					<p>505 S Atlantic Ave Virginia Beach, VA(Virginia)</p>
				</div>
			</div>-->
		</div>
	</div>
</div>