.kament-modal {
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 5000;
  /*width: 560px;*/
  margin: -250px 0 0 -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;

	outline:none;
}

.kament-modal.kament-fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

.kament-modal.kament-fade.kament-in {
  top: 50%;
}


.kament-modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.kament-fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
     -moz-transition: opacity 0.15s linear;
       -o-transition: opacity 0.15s linear;
          transition: opacity 0.15s linear;
}

.kament-fade.kament-in {
  opacity: 1;
}


.kament-modal-backdrop.kament-fade {
  opacity: 0;
}

.kament-modal-backdrop,
.kament-modal-backdrop.kament-fade.kament-in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}


.kament-modal .kament-attach-view {
	width: 650px;
	padding:10px;
}

.kament-modal .kament-attach-view img{
	display:block;
	margin:auto;
}


.kament-footer-logo {
	float:right;
	margin-top: 10px;
}

.kament-footer-logo:after {
    content: " ";
    display: table;
}

