.sb_buttons {
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 0px 0px;
}
.sb_buttons img {
	border: 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.sb_buttons a img {
	border: 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.sb_block {
    text-align: center;
    display: block;
}
.sb_hidden_block {
    border: 1px solid #E2E2E2;
    padding: 25px 0 25px 0;
}
.sb-vk-button,
.sb-facebook-button,
.sb-twitter-button,
.sb-googleplus-button,
.sb-mm-button,
.sb-ok-button
{
	display: -moz-inline-stack;
	display: inline-block;
	_overflow:hidden;
	*zoom:1;
	*display:inline;
	vertical-align: middle;
	padding: 0 5px 0 5px;
	height: 24px;
	line-height: 0.5px;
    text-align: left;
}
.sb-vk-button {
	width: 140px;
}
.sb-vk-button-big,
.sb-facebook-button-big,
.sb-twitter-button-big,
.sb-googleplus-button-big,
.sb-mm-button-big,
.sb-ok-button-big
{
    display: -moz-inline-stack;
    display: inline-block;
    _overflow:hidden;
    *zoom:1;
    *display:inline;
    vertical-align: bottom;
    padding: 0 10px 0 10px;
    line-height: 0.5px;
    text-align: left;
}
.sb-facebook-button {
	width: auto;
}
.sb-googleplus-button {
	width: 59px;
}
.sb-twitter-button {
	width: auto;
}
.sb-mm-button {
    width: 117px;
}
.sb-mm-button-big {
    width: 90px;
}
.vk-button td {
	border: 0 none !important;
	padding: 0 !important;
}
.sb_block p {
    line-height: 0px;
    margin: 0px;
    padding: 0px;
}
.sb_block iframe {
    margin: 0 !important;
    border: 0 !important;
    padding: 0 !important;
}
.sb-display {
    display: none;
}