/*
Description: WP-Note CSS File
Author: Luke
Author URI: http://geeklu.com
Date:2009-01-02
Modified Date:2009-12-29
*/

.note
{
    text-align: center;
}


.noteclassic, .noteimportant, .notewarning, .notetip,.notehelp{
	width: 80%;
	margin-top:2em;
	margin-left: auto;
	margin-right: auto;
    border-radius: 10px 10px;
    -moz-border-radius: 10px 10px;
    -webkit-border-radius: 10px 10px;
    padding: 15px 20px 15px 80px;
	margin: 0px 0px 0px 0px;
	-webkit-box-shadow: 2px 2px 3px #999;
	-moz-box-shadow: 2px 2px 3px #999;
    /*IE min-height hack*/
    min-height:40px;
    height:auto !important;
    height:40px;
    overflow:visible;
		color: Black;
    
	position:relative;
	bottom:6px;
	right: 6px;
	border: 1px solid #999999;
    /*Set the position of the background image*/
    background-position: 20px 50%;
    background-repeat: no-repeat;
    text-align: justify;
}
.noteclassic, .noteimportant, .notewarning, .notetip,.notehelp{
	/* IE5 hack */
	\margin: 0px 0px -3px 0px;
	ma\rgin:  0px 0px 0px 0px;
}

.noteclassic {
  background-color: #EEF;
  background-image: url(images/note.png);
}

.noteimportant {
  background-color: #FFC;
  background-image: url(images/important.png);
}

.notewarning {
  background-color: #FDD;
  background-image: url(images/warning.png);
}

.notetip {
  background-color: #E4F6F8;
  background-image: url(images/tip.png);
}

.notehelp {
  background-color: #D8F3C9;
  background-image: url(images/help.png);
}
