/*
//pagenavi
.wp-pagenavi {
	clear: both;
}

nav {position: absolute; top:5px; left: 5px; }
nav a {padding-left:60px; font-size:70%;}

.textwidget{box-shadow: -1px -1px 10px #DDD; padding: 10px; background-color: White; opacity: 0.7;}

.underStr{
font-size:10px;
color:grey;
line-height:10px;
}

.wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
	border: 1px solid #BFBFBF;
	padding: 3px 5px;
	margin: 2px;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
	border-color: #000;
}

.wp-pagenavi span.current {
	font-weight: bold;
}
//pagenavi---end

.code{
	background-color: #DDD;
}

input{
color: Black;
background-color:#EEE;
border-style: solid;
border-width: 1px;
}
.time{
font-size:9px;
padding-left:60px;
color: grey;
}

.jlink{
color: Blue;
text-decoration: underline;
cursor: pointer;
}

.jlink:hover{
font-size: 10px;
}
 

body { 
	padding: 0; 
	margin: 0; 
	font-family: Arial;
	font-size: 1.1em; 
	background: White url(http://jkeks.ru/img/bgw.jpg) right top no-repeat;
	}

blockquote {
	margin: 10px 0 0 15px;
	padding: 0 15px;
	border-left: 8px solid #eaeaea;
	color: #7b7b7b;
}




a { 
	background: inherit;
	color: #019AD2;

}

a:hover { 
	background: inherit; 
	color: #C1000C; 
}	

h1 { 
	font: bold 1.5em; 
	margin: 0; 
	letter-spacing: -1px; 
	

}

h2 { 
	font: bold 2em; 
	margin: 0; 
	padding: 0; 
}

p#title { 
	text-decoration: none; 
	color: Red; 
	text-shadow: 0 0 30px #222;
	font-size: 99px;
	font-weight:900;
}

h2 a { 
	text-decoration: none; 
	color: #C1000C;
	font-size: 19px;
}

h1 a {
	text-decoration: none; 
	color: #C1000C;
	font-size: 19px;
}

h1 a:hover, h2 a:hover { 
	color: #Red; 
	text-shadow: 0 2px 19px #AAA;
}

.title { 
	
}

form { 
	margin: 0; 
}

input.search { 
	width: 279px; 
	border: none; 
	
	padding: 6px 10px; 
	
	font-weight: bold; 
	border: 1px solid #282828;
}

input.button { 
	padding: 3px 6px; 


}
*/
/* content holder */
#content { 
	margin: 10px auto; 
	width: 1060px; 
}
/*
#content img { 
      padding: 3px;
      border: #ececec 0px solid;
      
      }

#content img.alignleft { 
                float: left;
                margin: 3px 3px 3px 0;
                }

#content img.alignright { 
                 float: right;
                 margin: 0 3px 3px 3px;
                 }


#header { 
	height: 75px; 
}
#logo { 
	padding: 5px 0 0 8px;
}
#logo p { 
	margin: 0; 
	padding: 0 0 0 10px; 
	
	background: #fff; }
#top_info { 
	float: right; 
	width: 570px; 
	margin: 15px 5px 0 0; 
	text-align: right;
}


#menu {
	position:relative;
	width: 960px;
	margin: 0px auto;
        left: 8px;
	text-align: center;
	line-height: normal;
}
#button {
	list-style: none;
	margin: 0 3px;
	padding: 0px;
	float: left;
	clear:both;
}


#button li {
	float: left;
	height: 28px;
	background: url(images/button-right.gif) top right no-repeat;
	margin: 0 3px;
	white-space: nowrap;
}
#button .page_item a{
	
	display: block;
	background: url(images/button-left.gif) top left no-repeat;
	text-decoration: underline;
	padding: 0px 15px 0px 15px;
	font-size: 12px;
	line-height: 28px;
}

#button .page_item a:hover{
	

}
#button li:hover {
	background-position: 100% -36px;
}
#button .page_item a:hover {
	background-position: 0px -36px;
	border: none;
}

#button li.current_page_item {
	
	text-decoration: none;
	background: url(images/button-right-hover.gif) top right no-repeat;
}
#button .current_page_item a, #button .current_page_item a:visited{
	
	text-decoration: none;
	background: url(images/button-left-hover.gif) top left no-repeat;
}




#search { 
	
	clear: both;
	background: url(images/searchbg.gif) no-repeat;
	padding: 10px 0 10px 5px;
	width: 960px;
	margin: 0;
}
	#search p { padding: 10px 0 0 0; margin: 0; text-align:center;}



.gbox { 
	// url(images/gbox.gif) no-repeat bottom left; 
	
	padding: 1px 13px 7px 13px; 
	margin: 0 0 20px 0; 
}

.gbox p { 
	padding: 7px 0; 
	margin: 0;
}


.left { 
	float: left; 
	width: 728px; 
	margin: 0 0 10px 0; 
}

.left_articles {
		margin: 0 10px 10px 10px;
		padding: 10px 0 0 0;
		//border-bottom: 1px dotted #ccc;
		
		
	}
	
.left_page { float: left; width: 100%; margin: 0 0 10px 0; }
	.left_articles_page {
		margin: 0 20px 50px 10px;
		padding: 10px 0 0 0;
		
		
	}
	
.description { 
	padding: 0 0 2px 0; 
	margin: 0 10px 5px 60px; 
	border-bottom: 1px dotted #ccc; 
        font-size: 9px;
}

.calendar { 
	height: 50px; 
	float: left; 
	
	width: 50px; 
	padding: 5px 0 0 9px;  
	
        font-size: 9px;
}

.calendar p { 
	padding: 0; 
	margin: 0; 
}

.thumbnail { 
	float: left; 
	margin: 0 18px 8px 0; 
	border: 1px solid #dedede; 
}

.title { 
	margin-left: 60px; 
}

.alignright {
float: right;
}
	
.alignleft {
float: left
}

.spacer {   padding: 0px;
            text-align: right;
            clear: both;
            text-transform: lowercase;
            padding-top: 5px;
            }


.commentlist li.alt {
	//background-color:#f7f7f7;
}

.commentlist {
	padding: 0;
	text-align: justify;
}

.commentlist li {
	margin: 15px 0 3px;
	padding: 5px 10px 3px;
	list-style: none;
	
}

.commentlist p {
	margin: 10px 5px 10px 0;
}

#commentform p {
	margin: 5px 0;
}

.nocomments {
	text-align: center;
	margin: 0;
	padding: 0;
}

.commentmetadata {
	margin: 0;
}

#commentform textarea {

//border: 1px solid #cccccc;
width: 650px;
}
#commentform textarea:hover {
//background: #FFFFFF;
//border: 1px solid #cccccc;
}
#commentform textarea:focus {
//background: #ffffff;
//border: 1px solid #a1a1a1;
}

#commentform #email, #commentform #author, #commentform #url {
font-size: 12px;
//background: #ffffff;
//border: 1px solid #cccccc;
width: 250px;
}
#commentform #email:hover, #commentform #author:hover, #commentform #url:hover {
font-size: 12px;
//background: #ffffff;
//border: 1px solid #cccccc;
width: 250px;
}
#commentform #email:focus, #commentform #author:focus, #commentform #url:focus {
font-size: 12px;
//background: #ffffff;
//border: 1px solid #a1a1a1;
width: 250px;
}

#commentform #submit {
   float: left;
   padding:0; margin:0;
   border:0;
   height:23px;
   width:130px;
   background: url(images/submit-button.jpg) no-repeat;
}



#adcontainer {
	padding: 0px 0 0 0;
	margin:0;
	width: 902px;
}

#adboxes{
	padding: 6px 0 6px 0px;
	width:902px;

	float:left;
	position: relative;
}
#adboxes ul {
	margin: 0;
	padding: 0;
	list-style: none;
        padding-left: 25px;
}
#adboxes ul li {
	display:block;
	margin: 5px 3px 5px 5px !important;
	padding: 2px !important;
	float:left;
	list-style: none;
}

#adboxes img { 
      padding: 3px;
      border: #d3d3d3 0px solid;
      
      }

#adboxes img.alignleft { 
                float: left;
                margin: 3px 3px 3px 0;
                }

#adboxes img.alignright { 
                 float: right;
                 margin: 0 3px 3px 3px;
                 }


.clear {
	clear: both;
	margin: 0;
	padding: 0;
}




	
#right {
	float: right;
	width: 295px;
	margin: 0 0 10px 0;
       
}

.boxtop { 
	height: 19px; 
	background: url(images/boxtop.gif) no-repeat; 

}

.box { 
	background: url(images/box.gif) no-repeat bottom left; 
	
	padding: 0 10px 15px 10px; 
	margin: 0 0 10px 0; 
}

.box p { 
	padding: 0; 
	margin: 0;
}

.image { 
	float: left; 
	margin: 0 9px 3px 0; 
}

#right ul {
	padding: 0.1em;
	margin: 1.5em 0px;
	width: 270px;
	//border-top: 1px solid #939393;
        //background: #f7f7f7;
        
}

#right ul li {
//	border-bottom: 1px solid #3c3c3c;
	list-style-type: none;
	margin: 0px;
	padding: 0.3em;
       
}

#right ul li ul {
	padding: 0;
	margin: 0 0 0 20px;
	border: 0;
}

#right ul li ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 0;
}

#right a {
	
	text-decoration: none;

}

#right a:hover {
	
}

ul.contentright {
	font-size: 1em;
	
	border-top: 1px solid #ececec;
	list-style-type: none;
	margin: 1.5em 0px;
	padding:5px;
        
}

ul.contentright li {
	border-bottom: 1px solid;
	list-style-type: none;
	margin: 0px;
	padding: 0.5em;
}

ul.contentright a {
	
	text-decoration: none;
}

ul.contentright a:hover {
	
}

ul.contentright .datea{
	color: #666;
	padding: 0px 1.5em 0px 10px;
}

.buttons { 
	text-align: right; 
	padding: 4px 3px 0 0; 
	width:160px; 
}

.left_articles .buttons { 
	float: right; 
	height: 20px; 

}

.redbtn { 
	//background: #87BF55 url(images/redbtn.gif) no-repeat; 
	padding: 0; margin: 0; 
	
	text-decoration: none; 
	display:block; 
	float:right; 
	width:100px; 
	height:19px; 
	text-align: center; 
	line-height:15px;
        font-size:9px; 
}

.redbtn:hover { 
	//background: #D0D0D0 url(images/hoverbtnlong.gif) no-repeat; 
	
}

.footer { 
	clear: both; 
	text-align: center; 
	line-height: 1.8em; 
	padding: 10px 0 10px 0; 
//	border-top: 1px solid #efefef; 
}

.footer p  { 
	
        text-decoration: none; 
}


.footer a, .footer a:hover  { 
	
        text-decoration: none; 
}


h3{
color: Black;
}

li{
list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAARElEQVQYV2NkIBIwwtRNmzLtPzY9WTlZYDVgAqQIJoCuGCaHohDdVJBmnAphJsMUUK4Q2Y04rcbmaxSrYT4nGDzEhDkA6YpQCwywiK8AAAAASUVORK5CYII=");
}
*/