<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
	        <ol class="breadcrumb">
	        	<li><a href="#">Товары</a></li>
	        	<li class="active">Удаленные</li>
	        </ol>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Категория</th>
                    <th>Бренд</th>
                    <th>Название товара</th>
                    <th>Товаров в юните</th>
                    <th>Цена</th>
                    <th>Количество на складе</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
            {foreach $list as $item}
                <tr>
                    <td>{$item->id}</td>
                    <td>{{$item->categories->name}|i18n}</td>
                    <td>{{$item->brands->name}|i18n}</td>
                    <td>{$item->name}</td>
                    <td>{$item->unit}</td>
                    <td>{$item->price}</td>
                    <td>{$item->count}</td>
                    <td>
                        <a class="btn btn-info btn-xs" href="/admin/product/deleted?undelete={$item->id}"><i class="fa fa-reply fa-fw"></i> Отменить удаление</a>
                    </td>
                </tr>
            {foreachelse}
            	<tr>
            	 <td colspan="6">There is no products</td>
            	</tr>
            {/foreach}
            </tbody>
        </table>
    </div>
</div>