<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <ol class="breadcrumb">
                <li><a href="#">Товары</a></li>
                <li class="active">Изменить</li>
                {if isset($edit)} <li class="active">Товар {{$edit->brands->name}|i18n} {$edit->name} ({$edit->id})</li> {/if}
            </ol>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
{if (isset($edit) && $edit->id !==null)}
<div class="row">
    <div class="table-responsive">
        <form role="form" class="text-center" id="editItem">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="col-xs-12">

                        
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-fw fa-level-up"></i>Бренд</span>
                                <select autocomplete='off' name="brand" class="form-control">
                                    {foreach $brands as $brand}
                                    <option value="{$brand->id}" {($brand->id == $edit->brand_id) ? 'selected' : ''} >{$brand->id} - {{$brand->name}|i18n}</option>
                                    {/foreach}
                                </select>
                            </div> 
                        </div>
                        
                        <div class="form-group" >
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-fw fa-tags"></i> Название товара
                                </span>
                                <input autocomplete='off' type="text" name="name" class="form-control bg-danger" value="{$edit->name}" placeholder="Название товара" required>
                                <input type="hidden" value="{$edit->id}" name="id">
                            </div> 
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-fw fa-level-up"></i>Категория товара</span>
                                <select autocomplete='off' name="category" class="form-control">
                                    {foreach $categories as $category}
                                    <option value="{$category->id}" {($category->id == $edit->category_id) ? 'selected' : ''} >{$category->id} - {{$category->name}|i18n} {($category->disabled == 1) ? '[DIS]' : ''} {($category->deleted == 1) ? '[DEL]' : ''} </option>
                                    {/foreach}
                                </select>
                            </div> 
                        </div>

                            <div class="form-group">
                        <div class="row">

                                <div class="col-xs-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-fw fa-sort-numeric-asc"></i> Цена</span>
                                        <input autocomplete='off' type="text" name="price" class="form-control bg-danger" value="{$edit->price}" placeholder="Цена" required>
                                    </div> 
                                </div> 
                                <div class="col-xs-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-fw fa-sort-numeric-asc"></i> На складе</span>
                                        <input autocomplete='off' type="text" name="count" class="form-control bg-danger" value="{$edit->count}" placeholder="Кол-во на складе" required>
                                    </div> 
                                </div> 
                                <div class="col-xs-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-fw fa-sort-numeric-asc"></i> В юните</span>
                                        <input autocomplete='off' type="text" name="unit" class="form-control bg-danger" value="{$edit->unit}" placeholder="Кол-во в лоте" required>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default disabled">
                                    <i class="fa fa-fw fa-ban"></i> Disabled
                                </label>

                                <label class="btn btn-success transition{($edit->disabled == 0) ? ' active' : ''}">
                                    <input class="form-control" type="radio" name="disabled" value="false" autocomplete="off" {($edit->disabled == 0) ? 'checked' : ''}> No
                                </label>

                                <label class="btn btn-danger transition{($edit->disabled == 1) ? ' active' : ''}">
                                    <input class="form-control" type="radio" name="disabled" value="true" autocomplete="off" {($edit->disabled == 1) ? 'checked' : ''}> Yes
                                </label>
                            </div>

                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default disabled">
                                    <i class="fa fa-fw fa-trash"></i> Deleted
                                </label>

                                <label class="btn btn-success transition{($edit->deleted == 0) ? ' active' : ''}">
                                    <input class="form-control" type="radio" name="deleted" value="false" autocomplete="off" {($edit->deleted == 0) ? 'checked' : ''}> No
                                </label>

                                <label class="btn btn-danger transition{($edit->deleted == 1) ? ' active' : ''}">
                                    <input class="form-control" type="radio" name="deleted" value="true" autocomplete="off" {($edit->deleted == 1) ? 'checked' : ''}> Yes
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-fw fa-key"></i> Keywords
                        </div>

                        <div class="panel-body">
                            <div class="form-group">
                                    <textarea autocomplete='off' name="keywords" class="form-control noresize" rows="3">{$edit->keywords}</textarea>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">

                <button type="button" autocomplete='off' class="btn btn-default transition btn-circle btn-xl">
                    <i class="fa fa-arrow-left"></i>
                </button>

                <button type="submit" id="submit" autocomplete='off' data-progress-text="<i class='fa fa-refresh fa-spin'></i>" data-success-text="<i class='fa fa-check'></i>" data-error-text="<i class='fa fa-times'></i>" class="submit btn btn-primary btn-circle btn-xl transition">
                    <i class="fa fa-pencil"></i>
                </button>

            </div>
        </form>
    </div>
</div>
{else}
<div class="row">
	<div class="col-lg-offset-4 col-md-offset-2 col-lg-4 col-md-8">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-warning fa-lg"></i> Error</h3>
			</div>
			<div class="panel-body">
				There is no product to edit with this id
			</div>
		</div>
	</div>
</div>
{/if}