<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Категории</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-4 col-md-12">
        <div class="panel panel-blue">
            <a href="/admin/catalog/list">
	            <div class="panel-heading">
	                <div class="row">
	                    <div class="col-xs-3">
	                        <i class="fa fa-list-ol fa-4x"></i>
	                    </div>
	                    <div class="col-xs-9 text-right">
	                        <div class="huge">Список</div>
	                    </div>
	                </div>
	            </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="panel panel-green">
            <a href="/admin/catalog/add">
	            <div class="panel-heading">
	                <div class="row">
	                    <div class="col-xs-3">
	                        <i class="fa fa-plus fa-4x"></i>
	                    </div>
	                    <div class="col-xs-9 text-right">
	                        <div class="huge">Добавить</div>
	                    </div>
	                </div>
	            </div>
            </a>
        </div>
    </div>
    <!--<div class="col-lg-4 col-md-12">
        <div class="panel panel-yellow">
            <a href="/admin/catalog/edit">
	            <div class="panel-heading">
	                <div class="row">
	                    <div class="col-xs-3">
	                        <i class="fa fa-pencil fa-4x"></i>
	                    </div>
	                    <div class="col-xs-9 text-right">
	                        <div class="huge">Править</div>
	                    </div>
	                </div>
	            </div>
            </a>
        </div>
    </div>-->
    <div class="col-lg-4 col-md-12">
        <div class="panel panel-red">
            <a href="/admin/catalog/deleted">
    			<div class="panel-heading">
	                <div class="row">
	                    <div class="col-xs-3">
	                        <i class="fa fa-trash fa-4x"></i>
	                    </div>
	                    <div class="col-xs-9 text-right">
	                        <div class="huge">Корзина</div>
	                    </div>
	                </div>
	            </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
	<div class="col-lg-offset-4 col-md-offset-2 col-lg-4 col-md-8">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-info fa-lg"></i> Information</h3>
			</div>
			<div class="panel-body">
				Soon there will be some settings
			</div>
		</div>
	</div>
</div>