<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
	        <ol class="breadcrumb">
	        	<li><a href="#">Товары</a></li>
	        	<li class="active">Список</li>
	        </ol>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Категория</th>
                    <th>Бренд</th>
                    <th>Название товара</th>
                    <th>Товаров в юните</th>
                    <th>Цена</th>
                    <th>Количество на складе</th>
                    <th>Состояние</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
            {foreach $list as $item}
                <tr>
                    <td>{$item->id}</td>
                    <td>{{$item->categories->name}|i18n}</td>
                    <td>{{$item->brands->name}|i18n}</td>
                    <td>{$item->name}</td>
                    <td>{$item->unit}</td>
                    <td>{$item->price}</td>
                    <td>{$item->count}</td>
                    <td>{($item->disabled == 1) ? {'disabled'|i18n} : {'enabled'|i18n}}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="">
                            <a class="btn btn-warning btn-xs" href="/admin/product/edit?id={$item->id}"><i class="fa fa-pencil fa-fw"></i> Изменить</a>
                            <a class="btn btn-info btn-xs" href="/admin/product/list?disable={$item->id}&state={$item->disabled}">{($item->disabled == 1) ? "<i class='fa fa-toggle-off fa-fw'></i> {'enable'|i18n}" : "<i class='fa fa-toggle-on fa-fw'></i> {'disable'|i18n}"} </a>
                            <a class="btn btn-danger btn-xs" href="/admin/product/list?delete={$item->id}"><i class="fa fa-trash fa-fw"></i> Удалить</a>
                        </div>
                    </td>
                </tr>
            {foreachelse}
            	<tr>
            	 <td colspan="6">There is no products</td>
            	</tr>
            {/foreach}
            </tbody>
        </table>
    </div>
</div>