{if Kohana::$profiling}
<div id="debug">
	<h4 class="header f-nav-bar">{'Kohana profiler'|i18n}</h4>
	<div class="content">{View::factory('profiler/stats')}</div>
	{*
	<h4 class="header f-nav-bar">{'Smarty console'|i18n}</h4>
	<div class="content">{debug}</div>
	*}
</div>
{/if}