{snippet name="header"}

{*widget name="carousel"*}

<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				{widget name="sidebar"}
			</div>
			<div class="col-sm-9 padding-right">
				
				{$content|default:''}

				{*widget name="recommended"*}
						
			</div>
		</div>
	</div>
</section>

{snippet name="footer"}
	{*
<!--<div class="g">
	<div class="g-row">
		<header>
		
			<div class="f-nav-bar">
				<div class="f-nav-bar-body">
					{snippet name="logo"}
					<ul class="f-nav">
						<li><a href="/info/page/about_us/">О нас</a></li>
						<li>
							<a href="/info/page/services/">Услуги</a>
							<ul class="f-nav-list f-nav-tabs">
								<li><a href="/info/page/turnkey_site/">Сайт "под ключ"</a></li>
								<li><a href="/info/page/rework_ready_site/">Доработка готового сайта</a></li>
								<li><a href="/info/page/creation_and_layout_design/">Создание и вёрстка дизайна</a></li>
							</ul>
						</li>
						<li>
							<a href="/info/page/turnkey_solutions/">Готовые решения</a>
							<ul class="f-nav-list f-nav-tabs">
								<li><a href="/info/page/webasyst_solutions/">WebAsyst Shop-Script</a></li>
								<li><a href="/info/page/kohana_solutions/">Kohana framework</a></li>
								<li><a href="/info/page/no_category_solutions/">Разное</a></li>
							</ul>
						</li>
						<li>
							<a href="/info/page/portfolio/">Портфолио</a>
						</li>
						<li>
							<a href="/blog/">{'Blog'|i18n}</a>
						</li>
						<li>
							<a href="/feedback/">{'Write us'|i18n}</a>
						</li>
					</ul>
					{snippet name="contacts"}
				</div>
			</div>
			
		</header>
	</div>
	
	<div class="g-row" id="content">
		<article class="g-9">
			{snippet name="breadcrumbs" items=$config.breadcrumbs}
			{$content|default:''}
			{snippet name="debug"}
		</article>
		<aside class="g-3">
			<div id="sidebar">
				{widget name="blog_categories"}
				{widget name="blog_tags" items_to_show="20"}
			</div>
		</aside>
	</div>
	<div class="g-row">
		{snippet name="footer"}
	</div>-->*}