{* {$pagination = ['current' => 2, 'total' => 10, 'prev' => 1, 'next' => 3]} *}
{if isset($pagination)}
<div class="f-pager">
	<ul>
		<li class="f-pager-prev {if $pagination.current == 1}disabled{/if}">
			<a href="{"page:`$pagination.prev`,total:`$pagination.total`"|url}">&#10094; {'Previous'|i18n}</a>
		</li>
		{for $page = 1 to $pagination.total}
		{if $pagination.current == $page}
		<li class="active"><strong>{$page}</strong></li>
		{else}
		<li>
			<a href="{"page:`$page`,total:`$total`"|url}">{$page}</a>
		</li>
		{/if}
		{/for}
		<li class="f-pager-next {if $pagination.current == $pagination.total}disabled{/if}">
			<a href="{"page:`$pagination.next`,total:`$pagination.total`"|url}">{'Next'|i18n} &#10095;</a>
		</li>
	</ul>
</div> 
{/if}
	