<h4 class="header">{'Tag cloud'|i18n}:</h4>
<div id="tag_cloud">
	<a class="tag tag1" href="tag/html5/">html5</a>
	<a class="tag tag2 middle" href="tag/cms/">cms</a>
	<a class="tag tag0" href="tag/getoffset/">getoffset</a>
	<a class="tag tag7 middle" href="tag/slider/">slider</a>
	<a class="tag tag0" href="tag/html/">html</a>
	<a class="tag tag2 middle" href="tag/php/">php</a>
	<a class="tag tag9" href="tag/jquery/">jquery</a>
	<a class="tag tag1 middle" href="tag/time/">time</a>
	<a class="tag tag3" href="tag/wysiwyg/">wysiwyg</a>
	<a class="tag tag2 middle" href="tag/news/">новости</a>
	<a class="tag tag4" href="tag/plugin/">plugin</a>
	<a class="tag tag0 middle" href="tag/ondomready/">ondomready</a>
	<a class="tag tag1" href="tag/event/">event</a>
	<a class="tag tag2 middle" href="tag/unixtime/">unixtime</a>
	<a class="tag tag0" href="tag/glyuk/">глюк</a>
	<a class="tag tag9 middle" href="tag/ajax/">ajax</a>
	<a class="tag tag1" href="tag/danneo/">danneo</a>
	<a class="tag tag5 middle" href="tag/polezniy-skript/">полезный скрипт</a>
	<a class="tag tag1" href="tag/gallery/">галерея</a>
	<a class="tag tag3 middle" href="tag/ckeditor/">ckeditor</a>
</div>