<h3>{'Feedback'|i18n}</h3>

{if is_string(Message::get())}
<div class="f-message f-message-{Message::type()}">
	<strong>{Message::type()|i18n}</strong> {Message::get()}
</div>
{/if}
	
<form class="f-horizontal" action="{''|url}" method="post">
	
	<fieldset>
		
		<input type="hidden" name="csrf" value="{Security::token()}">
		
		{if isset($user)}
		<input type="hidden" name="email" value="{$user->email|escape}">
		{else}
		<div class="f-row">
			<label for="email">{'Email'|i18n}:</label>
			<div class="f-input{if Message::get('email')} f-invalid{/if}">
				<input id="email" class="g-stretch" type="email" name="email" value="{$post_data.email|default:''|escape}" required>
				{if Message::get('email')}<span class="f-input-comment">{Message::get('email')}</span>{/if}
			</div>
		</div>
		{/if}
		
		<div class="f-row">
			<label for="title">{'Title'|i18n}:</label>
			<div class="f-input{if Message::get('title')} f-invalid{/if}">
				<input id="title" class="g-stretch" type="text" name="title" value="{$post_data.title|default:''|escape}" required>
				{if Message::get('title')}<span class="f-input-comment">{Message::get('title')}</span>{/if}
			</div>
		</div>
		
		<div class="f-row">
			<label for="message">{'Message'|i18n}:</label>
			<div class="f-input{if Message::get('message')} f-invalid{/if}" required>
				<textarea id="message" class="g-stretch" name="message" rows="8" required>{$post_data.message|escape}</textarea>
				{if Message::get('message')}<span class="f-input-comment">{Message::get('message')}</span>{/if}
			</div>
		</div>
		
		<div class="f-row">
			<label for="captcha"></label>
			<div class="f-input{if Message::get('captcha')} f-invalid{/if}">
				<img class="f-captcha" src="{'route:captcha'|url}" alt="{'Captcha'|i18n}">
				<input id="captcha" type="text" name="captcha" value="" class="g-2" required>
				{if Message::get('captcha')}<span class="f-input-comment">{Message::get('captcha')}</span>{/if}
			</div>
		</div>
		
		<div class="f-actions">
			<button type="submit" class="f-bu" name="send">{'Send'|i18n}</button>
		</div>
		
	</fieldset>
	
</form>