/*
Theme Name: Yashfa
Theme URI: http://wpgpl.com/themes/yashfa
Description: Yashfa is Grid Based layout for Ordinary Blogger.
Version: 1.6
Author: Nurudin Jauhari
Author URI: http://wpgpl.com/
Tags: blue, orange, custom-header, fixed-width, two-columns,right-sidebar


	The CSS, XHTML and design is released under GPL:
	http://www.opensource.org/licenses/gpl-license.php

	Crafted on 12 February 2009
	Last Edit: 23 April 2009 21.12  +7 GMT

*/

/* import stylesheets and hide from ie/mac \*/
@import url("css-reset.css");
@import url("css-navi.css");
@import url("css-menu.css");
@import url("css-comment.css");
@import url("css-wordpress.css");
/* end import/hide */

/* Begin Typography & Colors */

.code {
	margin-top: 0px;
	padding-top: 0px;
}

u {
	background-color: #f8f8f8;
}

body {
	font: 14px 'PT Sans', 'bitstream vera sans', sans-serif;
background-color: #eeeeee;
background-image: url('../../uploads/bg_dissolve.png');
background-attachment: fixed;
background-repeat:repeat-x;

}

acronym, abbr, span.caps
{
	font-size: 0.9em;
	letter-spacing: .07em;
	}


/* L I N K S */

a:link, a:visited {
	color: #BA2800;
	text-decoration: none;
	}
	
a:hover {
	color: #0A43A3;
	text-decoration: none;
	}

.bigtitle
{
	color: #1294de;
	font-size: 28px;
}

/* Etc
******************** */
br.clear {
	clear: both;
}
/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* End hide from IE-mac */


/* Begin Various Tags & Classes */
acronym, abbr, span.caps {
	cursor: help;
	}

acronym, abbr {
	border-bottom: 1px dashed #999;
	}

blockquote {
	margin: 15px 30px 0 10px;
	padding-left: 20px;
	border-left: 5px solid #ddd;
	}

blockquote cite {
	margin: 5px 0 0;
	display: block;
	}

.center {
	text-align: center;
	}

.hidden {
	display: none;
	}

hr {
border-top: 1px dashed #0A43A3;
border-bottom: 0;
border-left: 0;
border-right: 0;
padding-top: 5px;
padding-bottom: 5px;
width: 100%;
text-align: left;
	}

a img {
	border: none;
	}

.navigation {
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 60px;
	}

/* Basic */
#page {
	width: 950px;
	margin: 0 auto;
background: #ffffff;
}
#thebg {
	
background: #ffffff;
overflow: auto;
}
#content-wrap {
	float: left;
	width: 100%;
}

#content {
/*	margin: 0 425px 0 0; */
/*	margin: 0 180px 0 0; */
	padding: 35px;
width: 695px;
}
#content_blog {
/*	OUPS---- content page */
border-bottom: 1px dashed #999;
border-left: 1px dashed #999;
border-right: 1px dashed #999;
	padding: 35px;
}

#sidebar {
	float: left;
	position: relative;
	margin-left: -190px;
	width: 160px;
	margin-top: 20px;

/*	margin-left: -395px;
	width: 395px; */
	}



/* Menu */
#navr {
	background: #333;
	height: 50px;
}
#navr2 {
	width: 950px;
	margin: 0 auto;
	position: relative;
padding-top: 3px;

}
.menu {
	list-style: none;
	padding-bottom: 5px;
}
.menu li {
	float: left;
}
.menu li a:link, .menu li a:visited {
	padding: 10px;
	display: block;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	margin-right: 5px;
}
.menu li li a:link, .menu li li a:visited {
	margin-right: 0;
}
.menu li.current_page_item a {
	/*background: #BA2800;*/
background: #ED3300;
}
.menu li a:hover {
	
background: #1195e0;
}

/* /Menu */

/* Header */
.cherche {
	
position: absolute;
left: 670px;
	top: 181px;
}

.quoteoftheday_bg {
position: absolute;
left: 480px;
	top: 20px;
height: 95px;
width:436px;
background-color: rgb(255,255,255); opacity: 0.8;
-moz-border-radius: 30px;
border-radius: 30px;
}
.quoteoftheday {
font: 16px 'bitstream vera sans', sans-serif;
font-style: italic;
position: absolute;
left: 485px;
	top: 38px;
height: 75px;
width:426px;
text-align:center;
}
#header {
	margin: 0px 0 0;
	width: 950px;
	height: 170px;
	background: #000 url(images/header.jpg) 0 0 no-repeat;	
	position: relative;
	z-index: 499;
}
#header h1 a {
	color: #fff;
	position: absolute;
	left: 0px;
	top: 0px;
	font-size: 41px;
	letter-spacing: -5px;
	text-transform: uppercase;
}
#header h1 a:hover {
	text-decoration: none;
}
.description {
	position: absolute;
	top: 44px;
	left: 0;
	border-left: 30px solid #1294de;
	padding-left: 5px;
	color: #fff;
	font-size: 20px;
}
/* /Header */

/* Post */

.post {
	margin-bottom: 35px;
	min-height: 268px;
}

.posties {
	position: relative;
}
.posties .two {
	position: absolute;
	left: 0;
	top: 0;
	width: 110px;
	padding-right: 20px;
	text-align: right;
	border-right: 1px solid #999;
	min-height: 200px;
}
.two .dater {
	width: 60px;
	height: 60px;
	background: #000;
	color: #fff;
	position: absolute;
	right: 20px;
	top: 20px;
	padding: 5px;
}
.dater h3 {
	font-size: 25px;
}
.posties .one {
	margin-left: 150px;
	padding-top: 20px;
}

	.post h2 {
		font-family: Helvetica, Arial, verdana, sans-serif;
		font-size: 25px;
	}
	.post h2 a {
		color: #BA2800;
		text-decoration: none;
		
border-bottom: 1px solid #999;
&nbsp;display: block;
		padding-bottom: 5px;
	}
	
	.entry h3 {
		margin: 15px 0 0;
		font-size: 18px;
	}
	.entry h4 {
		margin: 15px 0 0;
		font-size: 16px;
	}
	.entry h5 {
		margin: 15px 0 0;
		font-size: 14px;
	}



	.entry p {
		line-height: 1.8em;
		margin-bottom: 20px;
	}
	.entry ul {
		list-style: square;
margin-bottom: 20px;
	}
	.entry ol {
		list-style: decimal;
	}	
	.entry li {
		line-height: 1.8em;
		margin-left: 20px;	
	}

.tagged {
	font-style: italic;
	font-size: 15px;
	color: #777;
}

.metadata {
	color: #999;
	margin-top: 70px;
	padding: 10px 0;
}
.metadata  a{
	color: #777;
	text-decoration: underline;
}

.postmetadata {
	background: #efefef;
	padding: 10px;
	margin-top: 20px;

}	

.pagetitle {
	margin-bottom: 20px;
	
	padding-bottom: 5px;
	text-align: left;
}

.recent2 li {
	display: block;
	color:#777;
	font-size:0.9em;
	float: left;
	text-align: right;
	width: 500px;
	padding: 5px 0;
	line-height: 22px;
	border-bottom: 1px solid #ccc;
}
.recent2 li a {
	font-size:1em;
	font-weight: bold;
	float: left;
	text-align: left;
}
/* /Post */


/* Sidebar */
#sidebar ul {
	list-style:  none;
}
#sidebar h2, #sidebar h3 {
	color: #0A73A3;
	border-bottom: 1px solid #ccc;
	font-weight: normal;
	font-size: 19px;
	padding: 0 10px 5px;
}

#sidebar .boxr, #sidebar .categories, #sidebar .linkcat {
	border: 1px solid #ccc;
	border-top: 4px solid #ccc;
	border-bottom: 4px solid #ccc;
	margin-bottom: 20px;
	padding: 10px 0;
}
#sidebar .categories li, #sidebar .archives li {
	text-align: right;
	color: #999;
	font-size: 11px;
}
#sidebar .categories li a:link, #sidebar .categories li a:visited, #sidebar .archives li a:link, #sidebar .archives li a:visited {
	text-align: left;
	float: left;
	font-size: 13px;
}
#sidebar .boxy {
	margin-bottom: 20px;
	padding: 10px 0;
}
#s {
	width: 160px;
	margin-left: 10px;
	border: 1px solid #777;
	padding: 3px;
}
#searchsubmit {
	padding: 2px;
	background: #444;
	color: #fff;
	border: 1px solid #444;
}
#sidebar .buser {
	border: 1px solid #ABD808;
	border-top: 4px solid #ABD808;
	border-bottom: 4px solid #ABD808;
}
#sidebar .buser li {
	padding: 3px 10px;
}

#sidebar .categories li, #sidebar .widget_pages li, #sidebar .widget_recent_entries li, #sidebar .linkcat li, #sidebar .archives li,#sidebar .widget_get_recent_comments li, .widget_links li, .widget_meta li {
	border-bottom: 1px solid #ccc;
	padding: 5px 10px;
}

#sidebar .boxr li:hover, #sidebar .categories li:hover, #sidebar .linkcat li:hover {
	background: #efefef;
}
#sidebar .boxr li li, #sidebar .categories li li, #sidebar .linkcat li li {
	border: none;
	padding-left: 0;
}

#sidebar a {
	color: #333;
	text-decoration: none;
}
#sidebar a:hover {
	color: #333;
	text-decoration: underline;
}

.sideinfo {
	background: #efefef;
	margin-bottom: 20px;
	padding: 15px;
}
.widget_flickrRSS h3 {
	margin-bottom: 10px;
}
.widget_flickrRSS img {
	float: left;
	margin-right: 5px;
	margin-bottom: 10px;
	width: 80px;
	padding: 0;
	margin-left: 10px;
}
.widget_flickrRSS img a:link,.widget_flickrRSS img a:visited {
	border-bottom: none !important;
}
.widget_flickrRSS {
	overflow: auto;
}

/* /Sidebar */
/* Captions */
.aligncenter,
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	font-size: 15px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}
/* End captions */


.related  h2{
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	font-size: 15px;
	margin-bottom: 10px;
}
.related li {
	margin-bottom: 10px;
}
.related p {
		line-height: 1.8em;
}

.author-info {
	background: #efefef;
	padding: 10px;
}
.author-info .avatar {
	float: right;
}
.author-info h4 {
	font-size: 12px;
	border-bottom: 1px solid #888;
	margin-bottom: 10px;
}
p.bio {
	margin-bottom: 10px;
	line-height: 1.8em;
}
.sleft {
	width: 150px;
	float: left;
}


/* Footer */
#more-footer {
	
	padding: 20px;
	font-size: 13px;
	line-height: 1.6em;
	position: relative;
}
#more-more-footer {
	width: 950px;
	margin: 0 auto;
	position: relative
}
.inner {
	width: 315px;
}
.inner-one {
	float: left;
}
.inner-two {
	float: left;
}
.inner-two .grap {
	margin-right: 20px;
}
.inner-three {
	float: left;
}
.recent li {
	text-align: right;
}
.infopost {
	text-align: right;
	font-size: 12px;
	position: absolute;
	right: 0;
}
.recent a {
	text-align: left;
	float: left;
}
#extra-footer {
	
	padding: 20px;
	font-size: 17px;
}
#more-footer a:link,#more-footer a:visited {
	color: #555;
}
#more-footer h3 {
	color: #0A73A3;
	font-weight: normal;
	font-size: 19px;
	margin-bottom: 10px;
	position: relative;
}



#footer {
	width: 950px;
	margin: 0 auto;
	position: relative;
}
#footer .right {
	position: absolute;
	right: 0;
	top: 0;
}

.rgrav {
	float: left;
	margin-right: 5px;
}
.rdata a {
	display: block;
}

/* WP */
img.alignright {
	display:inline;
	margin:0 0 2px 7px;
	padding:4px;
}

img.alignleft {
	display:inline;
	margin:0 7px 2px 0;
	padding:4px;
}

.alignright {
	float:right;
}

.alignleft {
	float:left;
}
.wp-caption {
	border:1px solid #ddd;
	text-align:center;
	background-color:#f3f3f3;
	padding-top:4px;
	margin:10px;
}

.wp-caption img {
	border:0 none;
	margin:0;
	padding:0;
}

.wp-caption p.wp-caption-text {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}

img.centered,.aligncenter,div.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}