{if isset($brands)}
	<div class="brands_products"><!--brands_products-->
		<h2>{'brands'|i18n}</h2>
		<div class="brands-name">
			<ul class="nav nav-pills nav-stacked">
				{foreach $brands as $brand}
					<li><a href="#"> <span class="pull-right">(50)</span>{{$brand->name}|i18n}</a></li>
				{/foreach}
			</ul>
		</div>
	</div><!--/brands_products-->
{/if}