{if isset($categories)}
	<h2>{'categories'|i18n}</h2>
	<div class="panel-group category-products" id="accordian"><!--category-products-->
		{foreach $categories as $category}
			{*if $category['parent_id'] == 0*}
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
              {if isset($category['childs'])}
                <a data-toggle="collapse" data-parent="#accordian" href="{''|url}#{$category['name']}">
                  <span class="badge pull-right"><i class="fa fa-plus"></i></span>
              {else}
                <a href="{"controller:catalog,action:`$category['name']`"|url}">
              {/if}
                  {{$category['name']}|i18n}
                </a>
						</h4>
					</div>
          {if isset($category['childs'])}
            <div id="{$category['name']}" class="panel-collapse collapse">
              <div class="panel-body">
                <ul>
                  {foreach $category['childs'] as $subcategory}
                  	<li><a href="{"controller:catalog,action:`$subcategory['name']`"|url}">{{$subcategory['name']}|i18n}</a></li>
                  {/foreach}
                </ul>
              </div>
            </div>
          {/if}
				</div>
			{*/if*}
		{/foreach}
	</div><!--/category-products-->
{/if}

{*

{if isset($categories)}
  <h2>{'categories'|i18n}</h2>
  <div class="panel-group category-products" id="accordian"><!--category-products-->
    {foreach $categories as $category}
      {if $category->parent_id == 0}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordian" href="#{$category->name}">
                {{$category->name}|i18n}
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
              </a>
            </h4>
          </div>
          {$first = 0}
          {foreach $categories as $subcategory}
            {if $first == 0}
              {if $subcategory->parent_id == $category->id}
                <div id="{$category->name}" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul>
                {$first = 1}
              {/if}
            {/if}
            {if $subcategory->parent_id == $category->id}
              <li><a href="#">{{$subcategory->name}|i18n}</a></li>
            {/if}
          {/foreach}
          {if $first == 1}
                </ul>
              </div>
            </div>
          {/if}
        </div>
      {/if}
    {/foreach}
  </div><!--/category-products-->
{/if}


*}

{*disabled cuz shit. 2 levels is enough
<div class="panel-group category-products" id="accordion">
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a class="" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
        </span>Content</a>
    </h4>
  </div>
  <div style="" id="collapseOne" class="panel-collapse collapse in">
    <ul class="list-group">
      <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://fb.com/moinakbarali">Articles</a>
        <ul class="list-group">
          <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://fb.com/moinakbarali">Articles</a></li>

          <li class="list-group-item"><span class="glyphicon glyphicon-flash text-success"></span><a href="http://fb.com/moinakbarali">News</a></li>

          <li class="list-group-item"><span class="glyphicon glyphicon-file text-info"></span><a href="http://fb.com/moinakbarali">Newsletters</a></li>

          <li class="list-group-item"> <span class="glyphicon glyphicon-comment text-success"></span><a href="http://fb.com/moinakbarali">Comments</a><span class="badge">42</span></li>

        </ul>
      </li>

      <li class="list-group-item"><span class="glyphicon glyphicon-flash text-success"></span><a href="http://fb.com/moinakbarali">News</a></li>

      <li class="list-group-item"><span class="glyphicon glyphicon-file text-info"></span><a href="http://fb.com/moinakbarali">Newsletters</a></li>

      <li class="list-group-item"> <span class="glyphicon glyphicon-comment text-success"></span><a href="http://fb.com/moinakbarali">Comments</a><span class="badge">42</span></li>

    </ul>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
        </span>Reports</a>
    </h4>
  </div>
  <div style="height: 0px;" id="collapseFour" class="panel-collapse collapse">
    <div class="list-group">
      <a href="#" class="list-group-item">
        Cras justo odio
      </a>
      <div class="list-group">
        <a href="#" class="list-group-item">
          Cras justo odio
        </a>
        <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item">Morbi leo risus</a>
        <a href="#" class="list-group-item">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item">Vestibulum at eros</a>
      </div>
      <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item">Morbi leo risus</a>
      <a href="#" class="list-group-item">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item">Vestibulum at eros</a>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><span class="glyphicon glyphicon-heart">
        </span>Reports</a>
    </h4>
  </div>
  <div id="collapseFive" class="panel-collapse collapse">
    <div class="list-group">
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      </a>
    </div>
    <div class="list-group">
      <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      </a>
    </div>
    <div class="list-group">
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      </a>
    </div>
  </div>
</div>
</div>*}