{snippet name="header"}

<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				{widget name="sidebar"}
			</div>
			<div class="col-sm-9 padding-right">
				
				{$content|default:''}

				{widget name="recommended"}
						
			</div>
		</div>
	</div>
</section>

{snippet name="footer"}