 /* 
	Theme Name: Grey Magic
	Theme URL: http://www.goodwinpress.ru
	Description: Бесплатная тема для WordPress от Гудвина. Другие мои шаблоны - на <a href="http://www.goodwinpress.ru">GoodwinPress.ru</a>. 
	Author: Goodwin
	Author URI: http://www.wpbot.ru
	Version: 1.1 
		*/

html, body {width:100%; height:100%;}

html, body, wrap, div, span, p, applet, object, iframe, h1, h3, h4, h5, h6, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font-family: Tahoma, Arial, Verdana;
	line-height: 21px;
}

/*контейнер, фон */
body {
	background: #f1f8db;
	color: #000000;
	font-size: 12px;
	margin: 0px auto 0px;
	padding: 0px;
}

*html .layer {height:100%;}
.layer {width:100%; min-height:100%; height:auto; position:relative;}

#wrap {width:1000px; margin:-60px auto; position:relative; padding:0px; background-color:#fff; background:url(images/bg.png) top left repeat-x; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; border-radius:5px; behavior:url('PIE.htc');}

/*форматирование и стиль*/
.green {color:#6baa3d;}

img {
	border-style: none;
}
a img {
	border: 0;
}
a {
	color: #004352;
	text-decoration: none;
}
a.active {
	color: #00758f;
	text-decoration: underline;
}
a:hover, a:active {
	color: #00758f;
	text-decoration: underline;
}
p {
	padding: 0;
	margin: 0 0 10px 0;
	text-indent: 0px;
}
p a {
	color: #004352;
	text-decoration: underline;
}
p a:hover, p a:active {
	color: #00758f;
	text-decoration: underline;
}
hr {color:#ccc;}
.ten_px {clear:both; height:10px;}
code {
	font: 12px 'Courier New', Courier, Fixed;
	background: #ececec;
}
blockquote {
	margin: 5px 0px 15px 20px;
	padding: 5px 20px 5px 20px;
	font-style: italic;
	border-left: 10px solid #960202;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.aligncenter {
	border-right: 1px solid #dedcdc;
	border-bottom: 1px solid #dedcdc;
	padding: 10px;
	background: #f8f6f6;
}
.alignleft {
	float: left;
}
img.alignleft {
	margin: 5px 15px 7px 0;
	border-right: 1px solid #dedcdc;
	border-bottom: 1px solid #dedcdc;
	padding: 10px;
	background: #f8f6f6;
}
.alignright {
	float: right;
}
img.alignright {
	margin: 5px 0 7px 15px;
	border-right: 1px solid #dedcdc;
	border-bottom: 1px solid #dedcdc;
	padding: 10px;
	background: #f8f6f6;
}
.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	padding: 10px 4px 0px 4px;
	background: #f7f7f7 none;
}
.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}
.wp-caption-text {
	font-size: 10px;
	line-height: 17px;
	padding: 7px 5px;
	margin: 0;
}

/*шапка*/
#topbar {
	width: 1000px;
	margin: 0px auto 0px;
	padding: 0;
	height: 40px;
	border-bottom:#e8efcf 1px solid;
}
.date {
	text-transform: uppercase;
	font-weight: bold;
	font-family: Arial, Tahoma, Trebuchet MS;
	text-shadow: 0 1px 0 #000;
	font-size: 10px;
	color:#333;
	margin: 10px 0 0 10px;
	padding: 0px 0 0 0;
	float: left;
	width: 350px;
}
#header {width:100%; height:200px; margin:0; padding:0; position:relative; background-color:#79d33c;}
.logo {width:1000px; padding:0; margin:0 auto; background:none;}

#tab {
	line-height: 1.0;
	position: relative;
}
#tab ul {
	float: left;
	width:	100%;
	position: relative;
}
#tab li {
	float: left;
	list-style: none;
	z-index: 999;
}
#tab li.current ul {
	z-index: 999;
}
#tab li.sfHover ul, ul#tab li:hover ul {
	z-index: 1000;
}
#tab a {
	display: block;
	float: left;
	text-decoration: none;
}
#tab li ul {
	left: 0;
	position: absolute;
	top: -999em;
}
#tab li.sfHover a, #tab li.current a, #tab a:focus, #tab a:hover, #tab a:active {
	border-bottom: none;
}
#tab li:hover ul, body #tab li.current ul, ul#tab li.sfHover ul {
	top: 2.8em;
}
#tab li:hover li ul, #tab li.sfHover li ul {
	top: -999em;
}
#tab li li:hover ul, ul#tab li li.sfHover ul {
	top: 2.5em;
}
.superfish li:hover ul, .superfish li li:hover ul {
	top: -999em;
}
#tab li ul li a {
	color: #f4f4f4;
	margin: 0;
	font-size: 9px;
	text-decoration: none;
	text-shadow: 0 1px 0 #000000;
	padding: 25px 10px 10px 10px;
}
#tab li ul li a:hover {
	color: #cccccc;
}

/*левая и правая колонки, текстовые блоки*/
#left {float:right; width:735px; margin:0px; padding:0; padding-left:4px;}
#right {float:left; margin:0px; padding:0; border-right:#e8efcf 1px solid;}
.blok {margin:0px;padding: 20px 20px 20px 10px; position:relative; z-index:2;}
.rblok {margin:0;padding:10px 20px 10px 15px; border-bottom:#e8efcf 1px solid;}
/*.rblok {margin:0;padding:10px 20px 35px 15px;background: url(images/hdiv.png) bottom center no-repeat;}*/

/*подвал и его компоненты*/
.pre_footer {height:90px; position:relative; z-index:1;}

#footer {width:100%; margin:-10px auto 0 auto; height:80px; padding-top:10px; text-align:center;color:#466055;background-color:#00262f; position:relative;}
.credits {margin:0 auto; width:400px; color:#fff;}
.credits a 

/*заголовки*/
h2 {
	color: #000000;
	text-shadow: 0 1px 0 #fffdfd;
	font-size: 26px;
	font-family: Arial, Trebuchet MS, Verdana;
	font-weight: bold;
	margin: 6px 5px 18px 0px;
	padding: 0px 0px 0px 0px;
	line-height: 22px;
	letter-spacing: -1px;
}
h2 a, h2 a:visited {
	color: #000000;
	text-shadow: 0 1px 0 #fffdfd;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
h2 a:hover {
	color: #CC0000;
	text-shadow: 0 1px 0 #fffdfd;
	text-decoration: none;
}
h3 {
	color: #000000;
	text-shadow: 0 1px 0 #fffdfd;
	font-size: 14px;
	font-family: Arial, Trebuchet MS, Verdana;
	font-weight: bold;
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 2px 25px;
	line-height: 14px;
	letter-spacing: -1px;
	display: block;
}
h3 a, h3 a:visited {
	color: #000000;
	text-shadow: 0 1px 0 #fffdfd;
	text-decoration: none;
}
h3 a:hover {
	color: #CC0000;
	text-shadow: 0 1px 0 #fffdfd;
	text-decoration: none;
}

/*маркированные списки для левой и правой колонки*/
.blok ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px 0px 10px 0px;
}
.blok ul li {
	list-style-type: none;
	margin: 0px 0px 5px 0px;
	padding: 0 0 0 10px;
	background: url(images/li.gif) no-repeat 0 7px;
}
.blok ul li ul {
	list-style: none;
	display: block;
	padding: 0px 0px 0px 10px;
}
.blok ul li ul li {
	list-style: none;
	display: block;
	padding: 0px 0px 0px 10px;
	background: url(images/sub.png) no-repeat 0 0px;
}
.blok ol {
	margin: 0px;
	padding: 0px 0px 10px 15px;
}
.blok ol li {
	margin: 0px 0px 5px 5px;
	padding: 0 0 0 0px;
}
.rblok ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px 0px 10px 5px;
}
.rblok ul li {
	list-style-type: none;
	margin: 0px 0px 5px 0px;
	padding: 0 0 0 15px;
	background: url(images/li.gif) no-repeat 0 7px;
}
.rblok ul li ul {
	list-style: none;
	display: block;
	padding: 0px 0px 0px 10px;
}
.rblok ul li ul li {
	list-style: none;
	display: block;
	padding: 0px 0px 0px 15px;
	background: url(images/sub.png) no-repeat 0 0px;
	font-size:11px;
}
.rblok ol {
	margin: 0px;
	padding: 0px 0px 10px 15px;
}
.rblok ol li {
	margin: 0px 0px 5px 5px;
	padding: 0 0 0 0px;
}

/*клипарт заголовков и метаданных*/
.title {
	background-image: url(images/wheel.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.star {
	background-image: url(images/star.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.comm {
	background-image: url(images/comm.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.rub {
	background-image: url(images/rub.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.tags {
	background-image: url(images/tags.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.arc {
	background-image: url(images/arc.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.meta {
	font-size: 10px;
	border-bottom: 1px dotted #999999;
	color: #666666;
	padding: 0 0 5px 25px;
	margin: 0 0 10px 0;
	background-image: url(images/meta.gif);
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.meta2 {
	font-size: 10px;
	border-top: 1px dotted #999999;
	color: #666666;
	padding: 20px 0 20px 25px;
	margin: 0 0 20px 0;
	background-image: url(images/tags.png);
	background-position: 0px 20px;
	background-repeat: no-repeat;
}

/*прочее*/
.pagenavi {
	margin: 30px 0 10px 15px;
	float: left;
}
br.clear {
	clear: both;
}
.arsip li {
	float: left;
	width: 90px;
	list-style-type: none;
}
.clearfix {
	display: inline-block;
}

/*поиск*/
#searchform {
	float: left;
	margin-right: 0px;
	padding: 0px;
	overflow: hidden;
	display: inline;
}
#s {width:184px; color:#333;  margin:0 5px 0 0; border:#e8efcf 1px solid;}
#searchsubmit {border:#e8efcf 1px solid;}

/*комментарии*/
#commentform {
	width: 420px;
}
#commentform input {
	width: 170px;
	padding: 2px;
	margin: 5px 5px 1px 0;
}
#commentform textarea {
	width: 400px;
	padding: 2px;
}
#commentform #submit {
	margin: 5px 0 0 0;
	padding: 0;
	width: 108px;
	height: 26px;
}
.alt {
	margin: 0;
	padding: 10px;
}
.commentlist {
	padding: 0;
	text-align: justify;
	margin: 0 20px 0 0;
	width:728px;
}
.commentlist .comment {
	margin: 15px 0 0 0;
	padding: 10px 15px 10px 15px;
	list-style: none;
	border: 1px solid #e6e6e6;
	background: #f7f7f7;
}
.commentlist .alt {
	border: 1px solid #e6e6e6;
	background: #f3f2f2;
}
.commentlist .comment .comment {
	margin: 10px 10px 10px 10px;
	padding: 5px 15px 5px 15px;
	width: auto;
}
.commentlist p {
	margin: 10px 5px 10px 0;
}
.commentmet_data {
	width: 100%;
	overflow: hidden;
}
.commentmet_data td {
	vertical-align: top;
	text-align: left;
}
.commentmet_avatar {
	width: 82px;
	padding: 15px 0 0 0;
}
.commentmet_text {
	;
}
.commentmet_avatar img {
	border: 3px solid #c7c7c7;
}
#commentform p {
	margin: 5px 0;
}
.commentmet_replay {
	width: 100%;
	overflow: hidden;
}
.commentmet_replay a {
	float: right;
	display: block;
	text-indent: -9999px;
	text-transform: capitalize;
	background: url(images/reply.gif) no-repeat;
	width: 73px;
	height: 19px;
	text-decoration: none;
}
.nocomments {
	text-align: center;
	margin: 0;
	padding: 0;
}
.commentmetadata {
	margin: 0;
	display: block;
	padding: 0 0 5px 0;
	color: #333;
	font-size: 12px;
}
.commentmetadata span {
	font-size: 12px;
}
.commentmet_text {
	font-size: 12px;
}
#respond {
	margin: 30px 25px 0 0;
}
#commentform {
	color: #000;
	font-size: 12px;
	width: 90%;
}
#commentform small {
	position: relative;
	top: -1px;
	font-size: 11px;
}
#cancel-comment-reply-link {
	font-size: 11px;
	color: #000;
	margin: 0 0 0 25px;
}
#commentform a, #commentform small {
	color: #000;
}
#commentform input {
	background: #f7f7f7;
	border: 1px solid #e6e6e6;
	font-size: 12px;
	padding: 4px;
	color: #000000;
}
#commentform textarea {
	background: #f7f7f7;
	border: 1px solid #e6e6e6;
	font-size: 12px;
	padding: 4px;
	margin: 5px 0 0 0;
	color: #000000;
	overflow: auto;
}
#commentform input#submit {
	background: none;
	border: 0;
}

a.gpress:link, a.gpress:active, a.gpress:visited, a.gpress:hover	 {
	margin:10px 10px 0 0; padding:0;
	float:right;
	width:90px; height:45px;
	background:url(images/goodwin.png) no-repeat top center;
	display:block; text-indent:-9999px; float:left; outline:0;
}
		
.note {padding:20px 30px 20px 65px; background:#e8efcf url(images/lightbulb_48.png) center left no-repeat; -moz-border-radius:8px; -webkit-border-radius:8px; -khtml-border-radius:8px; border-radius:8px; behavior:url('PIE.htc');}

.style_table {background-color:#fff;}
.style_table th {border:#ccc 1px solid; background-color:#dddddd;}
.style_table td.f {border:#ccc 1px solid; background-color:#eeeeee;}
.style_table td {border:#ccc 1px solid;}