html,body {
	padding: 0;
	margin: 0;
	font-family: tahoma;
	font-size: 9pt;
}

.openid_link_url {
	font-family: Verdana;
	font-size: 12pt;
	font-style: italic
}

body {
	background: #faf1df url(images/bg.gif);
	color: #333;
}

#clear {
	clear: both;
}

a {
	color: #333;
}

input[type=text] {
	border: 1px solid #d4c7ac
}

textarea {
	border: 1px solid #d4c7ac
}

div {
	position: relative;
	margin: 0;
	padding: 0;
}

div#content {
	float: left;
	width: 590px;
	padding-bottom: 3em;
}

div#extra {
	float: right;
	width: 200px;
}

div#container {
	width: 800px;
	margin: 0 auto;
}

.entry {
	font-family: Georgia,Serif;
	line-height:1.6;
	border: 1px solid #d4c7ac;
	background: white;
	padding: 1em 1.5em 1.5em 1.5em;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px
}

div#menuTop {
	float: left;
	width: 56%;
	margin-top: 3em;
	margin-right: 5%;
	border: 1px solid #d4c7ac;
	background-image: url(images/mbg.png);
}

img#logo {
	margin-left: 1.5%;
}

img#nogn {
	position: absolute;
	right: 10%;
	bottom: -11px;
}

div#topic {
	min-width: 880px;
	background: url(images/line.png) bottom repeat-x;
	margin: 2.5em 0 3em 0;
	padding-bottom: 2.5em;
}


img#mrt,img#mrb {
	position: absolute;
	right: -1px;
}

img#mrt {
	top: -1px;
}

img#mrb {
	bottom: -1px;
}

ul#nav {
	padding: 0;
	margin: 0;
}

ul#nav li {
	list-style: none;
	float: right;
	padding: 0 8% 0 2%;
	display: inline;
}

ul#nav li a {
	font-size: 1.9em;
	display: block;
	padding: 0.1em 0;
	color: #333;
	padding-bottom: 0.2em
}

ul#nav li a:hover {
	color: #036b7e
}

div#rubricator {
	border: 1px solid #d4c7ac;
	background-image: url(images/mbg.png);
	padding: 1em 1.5em 1.5em 1.5em;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px
}

div#rubricator span {
	color: #e80143
}

div#rubricator ul {
	margin: 1em 0 0 0;
	padding: 0;
}

div#rubricator ul li {
	margin: 0.3em 0;
	list-style: none;
}

a#cat {
	color: #048198;
	margin-top: 0.1em;
}

a#cat :hover,a#podcat :hover {
	color: white;
	background: #5c8687;
	text-decoration: none
}

a#theme :hover {
	color: #d62755;
}

img#rub_tr,img#rub_br,img#rub_lt,img#rub_lb {
	position: absolute
}

img#rub_tr {
	top: -1px;
	right: -1px;
}

img#rub_br {
	bottom: -1px;
	right: -1px;
}

img#rub_lt {
	top: -1px;
	left: -1px;
}

img#rub_lb {
	bottom: -1px;
	left: -1px;
}

div#post {
	margin-bottom: 2em;
}

div#post p {
	margin: 0.5em 0 0.8em 0;
	clear: both;
}

a#post_title {
	font-weight: 100;
	font-size: 2em;
	color: #558081;
	display: block;
}

div#meta_cont {
	float: left;
	border: 1px solid #d4c7ac;
	background-image: url(images/mbg.png);
	padding: 0.2em 0.7em 0.4em 0.7em;
	font-size: 0.9em;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px
}

a#auth {
	color: #048198;
}

a#comments {
	color: #d62755;
}

a#tag {
	color: #aca390;
}

a#tag :hover {
	color: #d62755;
}

h2 {
	font-weight: 100;
	margin: 0;
	padding: 0;
	font-size: 1.7em;
}

ul#pagenav {
	padding: 0;
	margin: 0;
}

ul#pagenav li {
	list-style: none;
	display: inline;
}

ul#pagenav li a {
	color: #666;
}

ul#pagenav li a:hover {
	color: #d62755
}

div#footer {
	padding: 1.5em 0 1.5em 10%;
	font-size: 0.9em;
	background: transparent url(images/line.png) repeat-x scroll center top;
}

div#copyright {
	float: left;
	width: 68%;
}

div#footer input[type=text] {
	border: 1px solid #d4c7ac
}

/* Begin Images */
p img {
	padding: 0;
	max-width: 100%;
}

/*	Using 'class="alignright"' on an image will (who would've
	thought?!) align the image to the right. And using 'class="centered',
	will of course center the image. This is much better than using
	align="center", being much more futureproof (and valid) */
img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
}

img.alignleft {
	padding: 6px;
	margin: 0 20px 2px 0;
	display: inline;
}

.alignright {
	float: right;
}

.alignleft {
	float: left
}

/* End Images */
#rubricator ul,#rubricator ul ol {
	margin: 0;
	padding: 0;
}

#rubricator ul li {
	list-style-type: none;
	list-style-image: none;
	margin-bottom: 15px;
}

#rubricator ul p,#rubricator ul select {
	margin: 5px 0 8px;
}

#rubricator ul ul,#rubricator ul ol {
	margin: 5px 0 0 10px;
}

#rubricator ul ul ul,#rubricator ul ol {
	margin: 0 0 0 10px;
}

ol li,#rubricator ul ol li {
	list-style: decimal outside;
}

#rubricator ul ul li,#rubricator ul ol li {
	margin: 3px 0 0;
	padding: 0;
}

#rubricator ul ul li:before {
	content: "\00BB \0020";
}

.commentlist li {
	font-weight: bold;
}

.commentlist div .avatar {
	float: left;
	padding: 4px;
	border: 1px solid #d4c7ac;
	margin: 0 5px 2px 0;
	background: #fff;
}

.commentlist div .userpic {
	float: left;
	padding: 4px;
	border: 1px solid #d4c7ac;
	margin: 0 5px 2px 0;
	background: #fff;
}

.commentlist cite,.commentlist cite a {
	font-weight: bold;
	font-style: normal;
	font-size: 1.0em;
}

.commentlist p {
	font-weight: normal;
	line-height: 1.5em;
	text-transform: none;
}
.comment-meta {
	font-weight: normal;
	line-height: 1.5em;
	text-transform: none;
}

.mycomment {
	border: 1px solid #d4c7ac;
	background-image: url(images/mbg.png);
	padding: 0.2em 0.7em 0.4em 0.7em;
	font-size: 0.9em;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin:5px;
}
#daos {
    background: none repeat scroll 0% 0% #FFF;
    padding: 0.6em 1.8em;
    border-radius: 5px;
    border: 1px solid #D4C7AC;
    width: 546px;
    min-height: 55px;
}