<div class="header-bottom"><!--header-bottom-->
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="mainmenu pull-left">
					<ul class="nav navbar-nav collapse navbar-collapse">
						<li><a href="index.html" class="active">Home</a></li>
						<li class="dropdown"><a href="#">Shop<i class="fa fa-angle-down"></i></a>
	                        <ul role="menu" class="sub-menu">
	                            <li><a href="shop.html">Products</a></li>
								<li><a href="product-details.html">Product Details</a></li> 
								<li><a href="checkout.html">Checkout</a></li> 
								<li><a href="cart.html">Cart</a></li> 
								<li><a href="login.html">Login</a></li> 
	                        </ul>
	                    </li> 
						<li class="dropdown"><a href="#">Blog<i class="fa fa-angle-down"></i></a>
	                        <ul role="menu" class="sub-menu">
	                            <li><a href="blog.html">Blog List</a></li>
								<li><a href="blog-single.html">Blog Single</a></li>
	                        </ul>
	                    </li> 
						<li><a href="404.html">404</a></li>
						<li><a href="contact-us.html">Contact</a></li>
						{*<li class="dropdown dropdown-large"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
							<ul role="menu" class="sub-menu dropdown-menu dropdown-menu-large row">
								<li class="col-sm-3">
									<ul>
										<li class="dropdown-header">Glyphicons</li>
										<li><a href="#">Available glyphs</a></li>
										<li class="disabled"><a href="#">How to use</a></li>
										<li><a href="#">Examples</a></li>
										<li class="divider"></li>
										<li class="dropdown-header">Dropdowns</li>
										<li><a href="#">Example</a></li>
										<li><a href="#">Aligninment options</a></li>
										<li><a href="#">Headers</a></li>
										<li><a href="#">Disabled menu items</a></li>
									</ul>
								</li>
								<li class="col-sm-3">
									<ul>
										<li class="dropdown-header">Button groups</li>
										<li><a href="#">Basic example</a></li>
										<li><a href="#">Button toolbar</a></li>
										<li><a href="#">Sizing</a></li>
										<li><a href="#">Nesting</a></li>
										<li><a href="#">Vertical variation</a></li>
										<li class="divider"></li>
										<li class="dropdown-header">Button dropdowns</li>
										<li><a href="#">Single button dropdowns</a></li>
									</ul>
								</li>
								<li class="col-sm-3">
									<ul>
										<li class="dropdown-header">Input groups</li>
										<li><a href="#">Basic example</a></li>
										<li><a href="#">Sizing</a></li>
										<li><a href="#">Checkboxes and radio addons</a></li>
										<li class="divider"></li>
										<li class="dropdown-header">Navs</li>
										<li><a href="#">Tabs</a></li>
										<li><a href="#">Pills</a></li>
										<li><a href="#">Justified</a></li>
									</ul>
								</li>
								<li class="col-sm-3">
									<ul>
										<li class="dropdown-header">Navbar</li>
										<li><a href="#">Default navbar</a></li>
										<li><a href="#">Buttons</a></li>
										<li><a href="#">Text</a></li>
										<li><a href="#">Non-nav links</a></li>
										<li><a href="#">Component alignment</a></li>
										<li><a href="#">Fixed to top</a></li>
										<li><a href="#">Fixed to bottom</a></li>
										<li><a href="#">Static top</a></li>
										<li><a href="#">Inverted navbar</a></li>
									</ul>
								</li>
							</ul>
						</li>*}
					</ul>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="search_box pull-right">
					<input type="text" placeholder="Search"/>
				</div>
			</div>
		</div>
	</div>
</div><!--/header-bottom-->