<div class="footer-bottom">
	<div class="container">
		<div class="row">
			<p class="pull-left">Copyright ® {date('Y')} <a href="{'route:default'|url}">{$config.site.name}</a>. All rights reserved.</p>
			<p class="pull-right">Designed by <span><a target="_blank" href="http://vk.com/borlcand">BorlCand Limited</a></span></p>
		</div>
	</div>
</div>