#debug .header { padding: 10px; color: #ffffff; cursor: pointer; }
#debug .content { display: none; }
.kohana table.profiler { width: 99%; margin: 0 auto 1em; border-collapse: collapse; }
.kohana table.profiler th,
.kohana table.profiler td { padding: 0.2em 0.4em; background: #fff; border: solid 1px #999; border-width: 1px 0; text-align: left; font-weight: normal; font-size: 1em; color: #111; vertical-align: top; text-align: right; }
.kohana table.profiler th.name { text-align: left; }
.kohana table.profiler tr.group th { font-size: 1.4em; background: #222; color: #eee; border-color: #222; }
.kohana table.profiler tr.group td { background: #222; color: #777; border-color: #222; }
.kohana table.profiler tr.group td.time { padding-bottom: 0; }
.kohana table.profiler tr.headers th { text-transform: lowercase; font-variant: small-caps; background: #ddd; color: #777; }
.kohana table.profiler tr.mark th.name { width: 40%; font-size: 1.2em; background: #fff; vertical-align: middle; }
.kohana table.profiler tr.mark td { padding: 0; }
.kohana table.profiler tr.mark.final td { padding: 0.2em 0.4em; }
.kohana table.profiler tr.mark td > div { position: relative; padding: 0.2em 0.4em; }
.kohana table.profiler tr.mark td div.value { position: relative; z-index: 2; }
.kohana table.profiler tr.mark td div.graph { position: absolute; top: 0; bottom: 0; right: 0; left: 100%; background: #71bdf0; z-index: 1; }
.kohana table.profiler tr.mark.memory td div.graph { background: #acd4f0; }
.kohana table.profiler tr.mark td.current { background: #eddecc; }
.kohana table.profiler tr.mark td.min { background: #d2f1cb; }
.kohana table.profiler tr.mark td.max { background: #ead3cb; }
.kohana table.profiler tr.mark td.average { background: #ddd; }
.kohana table.profiler tr.mark td.total { background: #d0e3f0; }
.kohana table.profiler tr.time td { border-bottom: 0; font-weight: bold; }
.kohana table.profiler tr.memory td { border-top: 0; }
.kohana table.profiler tr.final th.name { background: #222; color: #fff; }
.kohana table.profiler abbr { border: 0; color: #777; font-weight: normal; }
.kohana table.profiler:hover tr.group td { color: #ccc; }
.kohana table.profiler:hover tr.mark td div.graph { background: #1197f0; }
.kohana table.profiler:hover tr.mark.memory td div.graph { background: #7cc1f0; }