<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <ol class="breadcrumb">
                <li><a href="#">Заказы</a></li>
                <li class="active">Добавить</li>
            </ol>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<script>
    

</script>
<div class="row">
    <div class="table-responsive">

        <form role="form" class="text-center" id="addOrder">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="col-xs-12">


                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-fw fa-level-up"></i>ID клиента</span>
                                <select autocomplete='off' name="client_id" class="form-control">
                                    {foreach $clients as $client}
                                        <option value="{$client->session_id}">{$client->session_id}</option>
                                    {/foreach}
                                </select>
                            </div> 
                        </div>
                                        
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-fw fa-key"></i> Комментарий
                            </div>

                            <div class="panel-body">
                                <div class="form-group">
                                        <textarea autocomplete='off' name="keywords" class="form-control noresize" rows="1"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-fw fa-file-text"></i> Товары в заказе
                            </div>

                            <div class="panel-body">
                                <div class="form-group">
                                        
                                    <div class="multiple-input controls-row">
                                        <div class="entry input-group col-xs-12">
                                            <select name="items[]['id']" class="form-control">
                                                {foreach $brands as $brand}
                                                    {if (count($brand_items[{$brand->id}]) > 0) }
                                                        <optgroup label="{{$brand->name}|i18n}">
                                                            {foreach $brand_items[{$brand->id}] as $brand_item}
                                                                <option value="{$brand_item->id}">{$brand_item->name}</option>
                                                            {/foreach}
                                                        </optgroup>
                                                    {/if}
                                                {/foreach}
                                            </select>
                                            <span class="input-group-btn" style="width:0px;"></span>
                                            <input name="items[]['count']" type="text" class="form-control" value="1">
                                            <span class="input-group-btn">
                                                <button class="btn btn-success btn-add" type="button">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="row">

                <button type="button" autocomplete='off' class="btn btn-default transition btn-circle btn-xl">
                    <i class="fa fa-arrow-left"></i>
                </button>

                <button type="submit" id="submit" autocomplete='off' data-progress-text="<i class='fa fa-refresh fa-spin'></i>" data-success-text="<i class='fa fa-check'></i>" data-error-text="<i class='fa fa-times'></i>" class="submit btn btn-primary btn-circle btn-xl transition">
                    <i class="fa fa-pencil"></i>
                </button>

            </div>
        </form>
    </div>
</div>