<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <ol class="breadcrumb">
                <li><a href="#">Заказы</a></li>
                <li class="active">Список</li>
            </ol>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">

            <thead>
                <tr>
                    <th>#</th>
                    <th>ID клиента</th>
                    <th>Дата заказа</th>
                    <th>Дата оплаты</th>
                    <th>Состояние</th>
                    <th>Сумма</th>
                    <th>Действия</th>
                </tr>
            </thead>

            <tbody>
                {foreach $list as $order}
                    <tr data-toggle="collapse" data-target="#order{$order->id}" class="accordion-toggle">
                        <td>{$order->id}</td>
                        <td>{$order->client_id}</td>
                        <td>{$order->date_order}</td>
                        <td>{$order->date_pay}</td>
                        <td>{$order->processed}</td>
                        <td>{$order->summary}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="">
                                <a class="btn btn-warning btn-xs" href="/admin/order/edit?id="><i class="fa fa-pencil fa-fw"></i> Изменить</a>
                                <a class="btn btn-success btn-xs" href="/admin/order/list?processed={$order->processed}&id={$order->id}">{($order->processed == 0) ? "<i class='fa fa-toggle-off fa-fw'></i> {'accept'|i18n}" : "<i class='fa fa-toggle-on fa-fw'></i> {'undo'|i18n}"} </a>
                                <a class="btn btn-danger btn-xs" href="/admin/order/list?delete={$order->id}"><i class="fa fa-trash fa-fw"></i> Удалить</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12" class="hiddenRow">
                            <div class="accordian-body collapse" id="order{$order->id}"> 
                                <table class="table table-striped">
                                    <thead>
                                        <tr><th>#</th><th>ID товара</th><th>Марка</th><th>Товар</th><th>Количество</th><th>Цена за шт.</th></tr>
                                    </thead>
                                    <tbody>
                                        {foreach $list_items[{$order->id}] as $item}
                                            <tr>
                                                <td>{$item->id}</td>
                                                <td>{$item->item->id}</td>
                                                <td>{{$item->item->brands->name}|i18n}</td>
                                                <td>{$item->item->name}</td>
                                                <th>{$item->count}</th>
                                                <td>{$item->price}</td>
                                            </tr>
                                        
                                        {foreachelse}
                                            <tr>
                                                <td colspan="12">There is no products</td>
                                            </tr>
                                        {/foreach}
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                {foreachelse}
                    <tr>
                        <td colspan="12">There is no orders</td>
                    </tr>
                {/foreach}
            </tbody>
        </table>
    </div>
</div>